<div id="tabs">
  <ul>
  	<li><a href="#current-friends">My Friends</a></li>
  	<li><a href="#sent-requests">Sent Requests</a></li>
  	<li><a href="#received-requests">Received Requests</a></li>
  </ul>
  <div id="current-friends">
    <h2>My Friends</h2>
    <ul id="created-tasks-list">
      <%= render :partial => 'connection', :collection => @current_friends %>
    </ul>
  </div>
  <div id="sent-requests">
    <h2>Sent Friend Requests</h2>
    <ul id="assigned-tasks-list">
      <%= render :partial => 'connection', :collection => @pending_friends %>
    </ul>
  </div>
  <div id="received-requests">
    <h2>Recieved Friend Requests</h2>
    <ul id="assigned-tasks-list">
      <%= render :partial => 'connection', :collection => @friend_requests %>
    </ul>
  </div>
</div>
<p><%= link_to "Add new friend", new_connection_path %></p>