<div id="tabs">
  <div id="current-friends">
    <h2>My Friends</h2>
    <ul id="created-tasks-list">
      <%- @current_friends.each do |friend| -%>
        <li><%= friend.name %></li>
      <%- end -%>
    </ul>
  </div>
  
  <%- if !@pending_friends.blank? -%>
    <div id="sent-requests" style="display:none;">
      <h2>Sent Friend Requests</h2>
      <ul id="assigned-tasks-list">
        <%= render :partial => 'connection', :collection => @pending_friends %>
      </ul>
    </div>
  <%- end -%>
  
  <%- if !@friend_requests.blank? -%>
    <div id="received-requests" style="display:none;">
      <h2>Recieved Friend Requests</h2>
      <ul id="assigned-tasks-list">
        <%= render :partial => 'connection', :collection => @friend_requests %>
      </ul>
    </div>
  <%- end -%>
</div>

<p class="big_link"><%= link_to "Add new friend", new_connection_path %></p>