<div id="tabs">
  <ul>
  	<li><a href="#created-tasks">Created Tasks</a></li>
  	<li><a href="#assigned-tasks">Assigned Tasks</a></li>
  </ul>
    <div id="created-tasks">
      <h2>Tasks I've Created</h2>
      <ul id="created-tasks-list">
        <%= render :partial => 'list', :locals => { :tasks => @created_tasks } %>
      </ul>
    </div>
    <div id="assigned-tasks">
      <h2>Tasks I'm Assigned</h2>
      <ul id="assigned-tasks-list">
        <%= render :partial => 'list', :locals => { :tasks => @assigned_tasks } %>
      </ul>
    </div>
  </div>
  <p><%= link_to "Add new task", {:action => 'new' }%></p>