<div id="tabs"> 
  <div id="assigned-tasks">
    <h2>Tasks I Am Responsible For</h2>
    <table id="assigned-tasks-list">
      <tr>
        <th>Title</th>
        <th>Assigned By</th>
      </tr>
      <%= render :partial => 'assigned_task', :collection => @assigned_tasks %>
    </table>
  </div>
  
  <div id="tasks-assigned" style="display:none;">
    <h2>Tasks I Am Waiting On</h2>
    <table id="assigned-tasks-list">
      <tr>
        <th>Title</th>
        <th>Currently Responsible</th>
      </tr>
      <%= render :partial => 'tasks_assigned', :collection => @tasks_assigned %>
    </table>
  </div>
  
  <div id="tasks-completed" style="display:none;">
    <h2>Completed Tasks</h2>
    <table id="completed-tasks-list">
      <tr>
        <th>Title</th>
        <th>Date Completed</th>
      </tr>
      <%= render :partial => 'completed_tasks', :collection => @tasks_completed %>
    </table>
  </div>
</div>
<p class="big_link"><%= link_to "Add new task", {:action => 'new' }%></p>