<div id="tabs"> 
  <div id="assigned-tasks">
    <h2>Tasks I Am Responsible For</h2>
    <table id="assigned-tasks-list">
      <tr>
        <th>Title</th>
        <th>Assigned By</th>
      </tr>
      <%= render :partial => 'assigned_task', :collection => @assigned_tasks %>
    </table>
  </div>
  
  <div id="tasks-assigned" style="display:none;">
    <h2>Tasks I Am Waiting On</h2>
    <ul id="assigned-tasks-list">
      <%= render :partial => 'list', :locals => { :tasks => @tasks_assigned } %>
    </ul>
  </div>
</div>
<p class="big_link"><%= link_to "Add new task", {:action => 'new' }%></p>