* { padding:0; margin:0; } /* global definition for padding and margin */

html { height:101%; }

body { font-size:100%; height:100%; }

h1, h2, h3, h4, h5 { font:normal 100%/100% arial, verdana, sans-serif; color:#000; padding:0 0 5px 0; }
h1 { font-size:1.6em; line-height:100%; }
h2 { font-size:1.4em; line-height:100%; }
h3 { font-size:1.2em; line-height:100%; }
h4 { font-size:1.0em; line-height:100%; }
h5 { font-size:0.9em; line-height:100%; }

p, ol, ul, table, dl { font:normal .75em/150% Arial, Verdana, sans-serif; padding:0 0 10px 0; }

a, a:visited { color:#369; outline:none; /*removes dotted outline around links in FF*/ }
a:hover { color:#369; text-decoration:none; }

dl { padding:0 0 5px 10px; }
dt { font-weight:bold; }
dd { margin:0 0 5px 0; }

ol { padding:0 0 0 15px; }
ol li { padding:0 0 5px 0; margin:0; }

fieldset ol { list-style-type:none; padding:0; }

ul { padding:0 0 0 20px; }
ul li { padding:0 0 5px 0; margin:0; }

table { padding:0; }
th { font-weight:bold; }
td { padding:0; }

img { border:none; }
option { margin-right:10px;}

/************ styles for notice/error divs ************/
#error, #notice, #success { width:90%; margin:0 auto 10px auto; padding:5px; border:2px solid #DDD; }
#error p, #notice p, #success p { margin-left:20px; padding:0; font-size:12px; color:#000; }
#error a, #notice a, #success a { text-decoration:none; padding:0 3px; }
#error a:hover, #notice a:hover, #success a:hover { color:#000; border:1px solid #000; }
#error { background-color:#FBE3E4; color:#8A1F11; border-color:#FBC2C4; }
#notice { background-color:#FFF6BF; color:#514721; border-color:#FFD324; }
#success { background-color:#E6EFC2; color:#264409; border-color:#C6D880; }
#error a { border:1px solid #8A1F11; color:#8A1F11; }
#notice a { border:1px solid #514721; color:#514721; }
#success a { border:1px solid #264409; color:#264409; }

/**************************************************
											CLASSES
**************************************************/
.clear { clear:both; }

/************ styles for pagination ************/
.pagination {
	font:normal .75em/150% Arial, Verdana, Arial,sans-serif;
	padding:3px;
	margin:3px;
	text-align:center;
}
.pagination a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	text-decoration:none;
	color:#666;
	font-size:1.0em !important;
}
.pagination a:hover, .pagination a:active { border:1px solid #000; color:#000; }
.pagination span.current {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #666;
	font-weight:bold;
	background-color:#666;
	color:#FFF;
}
.pagination span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #DDD;
	color:#999;
}
/************************/