* {
  padding: 0;
  margin: 0;
}
html {
  height: 101%;
  background-color: #d1f1f4;
}
body {
  font-size: 100%;
  height: 100%;
}
h1, h2, h3, h4, h5 {
  font: normal 100%/100% arial, verdana, sans-serif;
  color: #000000;
  padding: 0 0 5px 0;
}
h1 {
  font-size: 1.6em;
  line-height: 100%;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  color: #04a9b8;
}
h3 {
  font-size: 1.2em;
  line-height: 100%;
}
h4 {
  font-size: 1em;
  line-height: 100%;
}
h5 {
  font-size: 0.9em;
  line-height: 100%;
}
p, ol, ul, table, dl {
  font: normal .75em/150% Arial, Verdana, sans-serif;
  padding: 0 0 10px 0;
}
a {
  color: #04a9b8;
  outline: none;
}
a:visited {
  color: #04a9b8;
  outline: none;
}
a:hover {
  color: #04a9b8;
  text-decoration: none;
}
dl { padding: 0 0 5px 10px; }
dl dt { font-weight: bold; }
dl dd { margin: 0 0 5px 0; }
ol { padding: 0 0 0 15px; }
ol li {
  padding: 0 0 5px 0;
  margin: 0;
}
fieldset ol {
  list-style-type: none;
  padding: 0;
}
fieldset ol li label { display: block; }
ul { padding: 0 0 0 20px; }
ul li {
  padding: 0 0 5px 0;
  margin: 0;
}
table { padding: 0; }
table th { font-weight: bold; }
table td { padding: 0; }
img { border: none; }
option { margin-right: 10px; }
#container { position: relative; }
#header { height: 120px; }
#header .logolink { margin: 43px 0 0 10px; }
#content {
  background-color: #ffffff;
  min-height: 500px;
}
#content-inner { padding: 35px 0 20px 20px; }
#nav p {
  text-align: right;
  padding: 0;
  margin: 0 0 55px 0;
  font-size: 14px;
  line-height: 20px;
  color: #ffa200;
}
#nav ul {
  float: right;
  list-style-type: none;
}
#nav ul li {
  float: left;
  font-size: 15px;
  margin: 0 8px 0 0;
  padding: 0 9px 0 0;
  background: url('/images/li_seperator.gif') no-repeat 100% 50%;
}
#nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #ffa200;
  text-decoration: none;
}
#nav ul li a:hover {
  color: #ffffff;
  background-color: #ffa200;
}
#nav ul li a.active {
  color: #ffffff;
  background-color: #ffa200;
}
#nav ul li.last {
  padding: 0;
  margin: 0;
  background: none;
}
#subnav {
  height: 45px;
  overflow: hidden;
  background-color: #ffa200;
}
#subnav h1 {
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 45px;
  padding: 0 22px 0 9px;
  color: #ffffff;
  background: #04a9b8 url('/images/bg_subnav_h1.gif') no-repeat 100% 0;
}
#subnav ul {
  float: left;
  list-style-type: none;
  padding: 7px 0 0 18px;
}
#subnav ul li {
  line-height: 31px;
  float: left;
  margin: 0 8px 0 0;
  padding: 0 0 0 11px;
}
#subnav ul li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 0 11px 0 0;
}
#subnav ul li:hover { background: url('/images/subnav_active_l.gif') no-repeat 0 0; }
#subnav ul li:hover a { background: url('/images/subnav_active_r.gif') no-repeat 100% 0; }
#subnav ul li.active { background: url('/images/subnav_active_l.gif') no-repeat 0 0; }
#subnav ul li.active a { background: url('/images/subnav_active_r.gif') no-repeat 100% 0; }
h2.task_hdr {
  float: left;
  margin: 0 15px 20px 0;
}
.task_btn {
  margin: 0;
  float: left;
  padding: 5px 0 0 0;
}
#assigned-tasks-list { width: 95%; }
#assigned-tasks-list th {
  background-color: #cccccc;
  text-align: left;
  padding: 5px 15px;
  font-size: 16px;
}
#assigned-tasks-list td {
  padding: 10px 15px;
  font-size: 16px;
}
#error {
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 5px;
  border: 2px solid #dddddd;
}
#error p {
  margin-left: 20px;
  padding: 0;
  font-size: 12px;
  color: #000000;
}
#error a {
  text-decoration: none;
  padding: 0 3px;
}
#error a:hover {
  color: #000000;
  border: 1px solid #000000;
}
#notice {
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 5px;
  border: 2px solid #dddddd;
}
#notice p {
  margin-left: 20px;
  padding: 0;
  font-size: 12px;
  color: #000000;
}
#notice a {
  text-decoration: none;
  padding: 0 3px;
}
#notice a:hover {
  color: #000000;
  border: 1px solid #000000;
}
#success {
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 5px;
  border: 2px solid #dddddd;
}
#success p {
  margin-left: 20px;
  padding: 0;
  font-size: 12px;
  color: #000000;
}
#success a {
  text-decoration: none;
  padding: 0 3px;
}
#success a:hover {
  color: #000000;
  border: 1px solid #000000;
}
#error {
  background-color: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
#error a {
  border: 1px solid #8a1f11;
  color: #8a1f11;
}
#notice {
  background-color: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
#notice a {
  border: 1px solid #514721;
  color: #514721;
}
#success {
  background-color: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
#success a {
  border: 1px solid #264409;
  color: #264409;
}
#footer { padding: 15px 0; }
#footer p {
  font-weight: bold;
  color: #999999;
}
#errorExplanation {
  width: 90%;
  margin: 0 0 10px 30px;
  border: 1px solid #cc0000;
  background-color: #ffffdd;
}
#errorExplanation h2 {
  font-size: 16px;
  background-color: #cc0000;
  color: #ffffff;
  margin: 0;
  padding: 5px 15px;
}
#errorExplanation p {
  font-size: 16px;
  margin: 0;
  padding: 5px 15px;
}
#errorExplanation li {
  padding: 0;
  margin-left: 50px;
}
form li { margin: 0 0 10px 0; }
form label {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  color: #04a9b8;
}
form input[type="text"] {
  width: 250px;
  font-size: 18px;
  padding: 2px 5px;
  border: 2px solid #ffa200;
}
form input[type="password"] {
  width: 250px;
  font-size: 18px;
  padding: 2px 5px;
  border: 2px solid #ffa200;
}
form input[type="checkbox"] {
  float: left;
  margin: 5px 5px 0 0;
}
form textarea {
  width: 350px;
  height: 200px;
  border: 2px solid #ffa200;
}
form .buttons { font-size: 16px; }
form .buttons input[type="submit"] {
  font-size: 16px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  background-color: #ffa200;
}
form .buttons input[type="submit"]:hover { cursor: pointer; }
form .buttons a {
  text-decoration: none;
  color: #ffa200;
}
form .buttons a:hover { text-decoration: underline; }
.clear { clear: both; }
.outside_ribbon {
  position: absolute;
  top: 120px;
  left: -10px;
}
.replace {
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  letter-spacing: -1em;
  text-indent: -1000em;
}
.site_description, .paragraph {
  font-size: 20px;
  font-weight: bold;
  color: #999999;
  margin: 0 0 20px 0;
}
.paragraph { margin: 0; }
.big_link {
  font-size: 18px;
  font-weight: bold;
}
.tagline {
  width: 663px;
  padding: 35px 0 0 0;
  background: url('/images/hdr_tagline.gif') no-repeat 0 0;
  margin: 0 0 20px 0;
}
.pagination {
  font: normal .75em/150% Arial, Verdana, Arial, sans-serif;
  padding: 3px;
  margin: 3px;
  text-align: center;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #666666;
  text-decoration: none;
  color: #666666;
  font-size: 1em !important;
}
.pagination a:hover {
  border: 1px solid #000000;
  color: #000000;
}
.pagination a:active {
  border: 1px solid #000000;
  color: #000000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #666666;
  font-weight: bold;
  background-color: #666666;
  color: #ffffff;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #dddddd;
  color: #999999;
}
