<div id="subnav" class="grid_16 alpha omega clearfix">
  <%- if @current_controller == 'site' or @current_controller == 'sessions' -%>
    <h1>Welcome to Pass the Monkey</h1>
    <ul>
      <li><%= link_or_active 'Login', login_path %></li>
      <li><%= link_or_active 'Signup Now', root_path %></li>
    </ul>
  <%- end -%>
</div><!-- subnav -->
