<h1>Pass the Monkey</h1>

<p>This is where the description of the site will go.</p>

<p>Already have an account? <%= link_to 'Signin', login_path %></p>

<p><%= link_to 'Create a New Account', signup_path %></p>
