<h1 class="replace tagline">Task assignment with accountability!</h1>

<p class="site_description">
  With Pass the Monkey, you can create an unlimited number of tasks and assign them out. You can also keep track of all of your tasks and see who's responsible. Create a free account and get started!
</p>

<p><%= link_to image_tag('btn_signup.gif', :alt => 'Signup Now'), signup_path %></p>
