<h1 class="replace tagline">Task assignment with accountability!</h1>

<p class="site_description">This is where the description of the site will go.</p>

<p><%= link_to image_tag('btn_signup.gif', :alt => 'Signup Now'), signup_path %></p>
